<!doctype html>
<html>
  <head>
    <title>Autenticação do Usuário</title>
    <meta charset="UTF-8">
    <!-- build:css css/auth.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->
  </head>
  <body>
  	<div class="container">
  		<a href="/auth/github">
  			<h1 id="entrar" class="text-center">Entre pelo Github</h1>
  		</a>
  	</div>
  </body>
</html>